{% load wagtailcore_tags wagtailimages_tags %}
<article class="sg-issue-card" {% if is_clone %}aria-hidden="true"{% endif %}>
  {% if card.image %}
  <a href="{{ card.url }}" class="sg-issue-card__image-wrap" aria-hidden="true" tabindex="-1">
    {% image card.image fill-320x200 as art_img %}
    <img src="{{ art_img.url }}" alt="{{ card.title }}">
  </a>
  {% endif %}
  <div class="sg-issue-card__overlay">
    {% if card.kicker %}<span class="sg-card-kicker">{{ card.kicker }}</span>{% endif %}
    {% if card.topic %}
    <a href="{% url 'topic_detail' slug=card.topic.slug %}" class="sg-issue-card__category"
      style="background-color: {{ card.accent }};">
      {{ card.topic.name }}
    </a>
    {% endif %}
    <h3 class="sg-issue-card__title">
      <a href="{{ card.url }}">{{ card.title }}</a>
    </h3>

    {% include "includes/sg_byline.html" with card=card %}

    <time class="sg-issue-card__date" datetime="{{ card.date|date:'Y-m-d' }}">
      {{ card.date|date:"F j, Y" }}
    </time>
  </div>
</article>
